extends layout
block content 
    a(href="/") 
        h2 home
    a(href="/leads/new") 
        h2 new
    ul 
        for lead in leads 
        
              
            if lead.contacted 
                li.lead-card.contacted 
                    h3= lead.name 
                    h4= lead.email
                    h4= lead.phone 
                    h4= lead.message 
                    h5= lead.contacted
                    form(action=`/leads/${lead._id}`, method="POST")
                        input(type="hidden", name="contacted" value=`${lead.contacted}`)
                        button(type="submit" ) toggle contacted 
                    form(action=`/leads/${lead._id}/delete`, method="post") 
                        button(type="submit") delete 
                    a(href=`/leads/${lead._id}`) 
                        h5= lead._id

            else 
                li.lead-card
                    h3= lead.name 
                    h4= lead.email
                    h4= lead.phone 
                    h4= lead.message 
                    h5= lead.contacted
                    form(action=`/leads/${lead._id}`, method="POST")
                        input(type="hidden", name="contacted" value=`${lead.contacted}`)
                        button(type="submit" ) toggle contacted 
                    form(action=`/leads/${lead._id}/delete`, method="post") 
                        button(type="submit") delete 
                    a(href=`/leads/${lead._id}`) 
                        h5= lead._id  